[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]

[packages]
twine = "*"
lxml = "*"
yaml = "*"
pyyaml = {index = "https://pypi.python.org/pypi",version = "*"}
numpy = "*"

[requires]
python_version = "3.7"
